<div class="container">
  <app-nav-bar></app-nav-bar>
  <div class="order-content" *ngIf="basket$ | async as basket">
    <h1>My Order</h1>
    <h3>Take Out</h3>
    <ul
      class="product-list"
      *ngIf="basket.products.length > 0; else noProducts"
    >
      <li *ngFor="let basketOrder of basket.products" class="product-list-li">
        <mat-icon
          aria-hidden="false"
          aria-label="drink icon"
          id="removeProductButton"
          (click)="removeProduct(basketOrder.product.id)"
          >remove</mat-icon
        >
        <div class="product-info">
          <img src="{{ basketOrder.product.img }}" />
          <h2>{{ basketOrder.product.name }}</h2>
          <h3>{{ basketOrder.product.cost }}$</h3>
        </div>

        <div class="product-wrapper">
          <ul class="options-info">
            <li *ngFor="let opt of basketOrder.options">
              <span>{{ opt.ingredient.optionName }}</span> X{{ opt.amount }}
            </li>
          </ul>

          <div class="product-select-amount">
            <button class="remove-button" (click)="decrease(basketOrder)">
              <mat-icon aria-hidden="false" aria-label="drink icon"
                >remove</mat-icon
              >
            </button>
            <div class="current-choice">x{{ basketOrder.amount }}</div>
            <button class="add-button" (click)="increase(basketOrder)">
              <mat-icon aria-hidden="false" aria-label="drink icon"
                >add</mat-icon
              >
            </button>
          </div>
        </div>
      </li>
    </ul>
    <ng-template #noProducts>
      <div id="noProducts">There are no products in the basket yet :(</div>
    </ng-template>
    <div class="order-purchase">
      <div class="order-total">
        <h2>Total</h2>
        <h1>${{ basket.commonPrice }}</h1>
      </div>
      <button (click)="purchase()">Purchase</button>
    </div>
  </div>
</div>
