<div class="container">
  <app-nav-bar></app-nav-bar>
  <div class="admin-main">
    <h1>Admin Page</h1>
    <mat-grid-list
      cols="4"
      rowHeight="225px"
      gutterSize="20px"
      *ngIf="items.length > 0"
    >
      <mat-grid-tile *ngFor="let item of items">
        <app-admin-item-component
          [item]="item"
          [adminType]="typeId"
          (clickEmitter)="clickHandler(item)"
        >
        </app-admin-item-component>
      </mat-grid-tile>
    </mat-grid-list>
    <button *ngIf="showButton" class="create-button" (click)="createNewItem()">
      Create New
    </button>
  </div>
</div>
