.container {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
}

.admin-main {
  flex-grow: 1;
  max-width: 100%;
  padding-right: 30px;

  h1 {
    margin: 25px 0;
    font-weight: 300;
    font-size: 50px;
  }

  .create-button {
    padding: 20px 40px;
    // background-color: #cebcbd;
    background-color: white;
    cursor: pointer;
    border: none;
    border: 1px solid black;
    font-weight: 500;
    margin-bottom: 25px;
  }

  .creation-grid-list {
    mat-grid-tile {
      cursor: default;
    }
  }

  .mat-grid-list {
    padding-top: 30px;

    mat-grid-tile {
      cursor: pointer;
      border: 1px solid black;

      app-admin-item-component {
        width: 100%;
        height: 100%;
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      mat-icon {
        font-size: 45px;
        width: 45px;
        height: 60px;
      }

      ul {
        width: 100%;
        height: 80%;
        list-style: none;

        li {
          margin: 5px 0;
          font-weight: 300;

          span {
            font-weight: 500;
          }
        }
      }

      mat-grid-tile-footer {
        background-color: #cebcbd;
        color: black;

        span {
          font-weight: 700;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;

        .form-group {
          margin: 10px 0px;
          width: 85%;
          // padding: 10px 200px;

          label {
            display: block;
            font-weight: 700;
            margin-bottom: 10px;
          }

          input {
            width: 80%;
            display: block;
            padding: 10px 15px;
          }
        }

        button {
          margin-top: 30px;
          padding: 10px 15px;
          background-color: #c6141b;
          color: white;
          border: none;
          width: 40%;
          font-weight: 500;
        }
      }
    }
  }
  //   .mat-grid-tile-content {
  //     flex-direction: column;
  //   }
}
