<div class="container">
  <app-nav-bar></app-nav-bar>
  <!-- *ngIf="chosenProduct$ | async as chosenProduct" -->
  <div class="admin-main" *ngIf="store$ | async as store">
    <h1>Admin Page</h1>
    <h3>Products</h3>
    <mat-grid-list cols="4" rowHeight="225px" gutterSize="20px">
      <mat-grid-tile
        *ngFor="let product of store.products"
        (click)="chooseProduct(product)"
      >
        <img src="{{ product.img }}" alt="" />
        <mat-grid-tile-footer>{{ product.name }}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
    <button class="create-button" (click)="createNewProduct()">
      Create New
    </button>
    <h3>Ingredients</h3>
    <mat-grid-list cols="5" rowHeight="120px" gutterSize="20px">
      <mat-grid-tile
        *ngFor="let ingredient of store.ingredients"
        (click)="chooseIngredient(ingredient)"
      >
        <ul>
          <li>
            Cost: <span>{{ ingredient.cost }}$</span>
          </li>
          <li>
            Cal: <span>{{ ingredient.optionCal }}</span>
          </li>
        </ul>
        <mat-grid-tile-footer
          >{{ ingredient.optionName }}
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
    <button class="create-button" (click)="createNewIngredient()">
      Create New
    </button>
    <h3>Categories</h3>
    <mat-grid-list cols="5" rowHeight="140px" gutterSize="20px">
      <mat-grid-tile
        *ngFor="let category of store.categories"
        (click)="chooseCategory(category)"
      >
        <mat-icon aria-hidden="false" aria-label="drink icon">{{
          category.icon
        }}</mat-icon>
        <mat-grid-tile-footer>{{ category.value }}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
    <button class="create-button" (click)="createNewCategory()">
      Create New
    </button>
  </div>
</div>
