<div
  class="modal-dialog-wrapper"
  (click)="close()"
  *ngIf="store$ | async as store"
>
  <div class="modal-dialog-container" onclick="event.stopPropagation()">
    <form [formGroup]="form">
      <h1>{{ form.controls.value.value }}</h1>
      <div class="form-group form-group-margin">
        <label>Name</label>
        <input type="text" formControlName="value" class="form-control" />
      </div>
      <div class="form-group form-group-margin">
        <label>Icon</label>
        <input type="text" formControlName="icon" class="form-control" />
      </div>

      <button (click)="submit()">Submit</button>
    </form>
  </div>
</div>
