<div class="container">
  <app-nav-bar [chosenCategory]="chosenCategory"></app-nav-bar>
  <div class="main">
    <h1>User orders history</h1>
    <ul class="basket-list">
      <li *ngFor="let basket of baskets">
        <h2>
          {{ basket.commonPrice }} <span>{{ basket.timestamp }}</span>
        </h2>
        <mat-grid-list cols="3" rowHeight="170px" gutterSize="20px">
          <mat-grid-tile *ngFor="let basketOrder of basket.basketOrders">
            <ul>
              <li *ngFor="let ingredient of basketOrder.ingredients">
                <h4>{{ ingredient.name }} x {{ ingredient.amount }}</h4>
              </li>
            </ul>
            <mat-grid-tile-footer>
              <h3>
                {{ basketOrder.name }} <span>{{ basketOrder.price }}</span>
              </h3>
              <ul>
                <li>amount: {{ basketOrder.amount }}</li>
              </ul>
            </mat-grid-tile-footer>
          </mat-grid-tile>
        </mat-grid-list>
      </li>
    </ul>
  </div>
</div>
