<div class="container">
  <app-nav-bar [chosenCategory]="chosenCategory"></app-nav-bar>
  <div class="main">
    <h1>User orders history</h1>
    <ul class="basket-list" *ngIf="baskets.length > 0; else noBaskets">
      <li *ngFor="let basket of baskets">
        <div
          class="basket-header"
          [class.open]="basket.toShow"
          (click)="openClose(basket.basket.id)"
        >
          <h3>{{ basket.basket.commonPrice }}$</h3>
          <h4>
            {{ basket.basket.timestamp | date: "dd.LL.YYYY HH:mm " }}
          </h4>
          <mat-icon> navigate_next </mat-icon>
        </div>
        <mat-grid-list
          cols="3"
          rowHeight="220px"
          gutterSize="20px"
          *ngIf="basket.toShow"
        >
          <mat-grid-tile *ngFor="let basketOrder of basket.basket.basketOrders">
            <ul class="ingredient-list">
              <li *ngFor="let ingredient of basketOrder.ingredients">
                <h4>
                  {{ ingredient.name }} <span>x {{ ingredient.amount }}</span>
                </h4>
              </li>
            </ul>
            <mat-grid-tile-footer>
              <h2>
                <span class="amount">{{ basketOrder.amount }}</span
                >&nbsp;x
                {{ basketOrder.name }}
                <span class="price">{{ basketOrder.price }}$</span>&nbsp;
              </h2>
              <!-- <ul class="footer-list">
                <li>Amount: {{ basketOrder.amount }}</li>
              </ul> -->
            </mat-grid-tile-footer>
          </mat-grid-tile>
        </mat-grid-list>
      </li>
    </ul>
    <ng-template #noBaskets>
      <div id="noBaskets">There are no order history yet :(</div>
    </ng-template>
  </div>
</div>
