<div class="container">
  <app-nav-bar [chosenCategory]="chosenCategory"></app-nav-bar>
  <div class="main-content">
    <div class="category-header">
      <h1>{{ chosenCategory?.name }}s</h1>
      <div class="search">
        <mat-icon
          class="search-mat-icon"
          *ngIf="!showOrder; else orderOptions"
          (click)="openCloseOrder()"
        >
          reorder
        </mat-icon>
        <input *ngIf="showSearch" type="text" [formControl]="inputSearch" />
        <mat-icon
          class="search-mat-icon"
          (click)="openCloseSearch()"
          [id]="showSearch ? 'opened' : ''"
        >
          {{ !showSearch ? "search" : "close" }}
        </mat-icon>
        <ng-template #orderOptions>
          <ul class="sort-options">
            <!-- <li class="chosen" (click)="openCloseOrder()">
              <mat-icon id="close-sort-button">close</mat-icon>
            </li> -->
            <li
              [class.chosen]="(chosenSortType$ | async) == 'bydefault'"
              (click)="sortChange('bydefault')"
            >
              Default <fa-icon></fa-icon>
            </li>
            <li
              [class.chosen]="(chosenSortType$ | async) == 'byname'"
              (click)="sortChange('byname')"
            >
              Name:&nbsp;
              <fa-icon
                [icon]="sortTypes.byname.isUp ? faSortAlphaDown : faSortAlphaUp"
              ></fa-icon>
            </li>
            <li
              [class.chosen]="(chosenSortType$ | async) == 'byprice'"
              (click)="sortChange('byprice')"
            >
              Price:&nbsp;
              <fa-icon
                [icon]="
                  sortTypes.byprice.isUp ? faSortNumericDown : faSortNumericUp
                "
              ></fa-icon>
            </li>
          </ul>
          <mat-icon class="search-mat-icon chosen" (click)="openCloseOrder()"
            >close</mat-icon
          >
        </ng-template>
      </div>
    </div>
    <mat-grid-list cols="3" rowHeight="400px" gutterSize="20px">
      <mat-grid-tile
        *ngFor="let prd of products"
        (click)="selectProduct(prd)"
        [class.tile-selected]="prd.id == chosenProduct?.id"
      >
        <img [src]="prd.img" alt="burger burger" />
        <mat-grid-tile-footer>
          {{ prd.name }} <span>{{ prd.cost }}$</span></mat-grid-tile-footer
        >
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <app-basket></app-basket>
</div>
