.container {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  // margin-bottom: 150px;
}

.mat-grid-tile-content {
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  height: 100%;
  padding: 15px 0;

  h1 {
    font-weight: 300;
    font-size: 50px;
    padding: 25px 0px;
    text-transform: capitalize;
  }

  .tile-selected {
    background-color: #c6141b;

    mat-grid-tile-footer {
      background-color: #c6141b;
      color: white;
    }
  }

  mat-grid-tile {
    cursor: pointer;
    border-radius: 25px;
    background-color: #f8f8f7;
    color: black;
    img {
      width: 210px;
      height: 210px;
      max-width: 95%;
      object-fit: cover;
    }

    mat-grid-tile-footer {
      display: block;
      text-align: center;
      font-weight: 300;
      font-size: 20px;
      color: black;
      background-color: #f8f8f7;
    }
  }
}
